<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
	
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="todo-list.js"></script>
</head>
<body>
	<div id="todo-table">
		<form>
			<input type="text" name="item" placeholder="add new item..." />
			<button type="submit"> Add item </button>
		</form>
		<ul>
			<% for(var i=0 ; i < todos.length ; i++ ){ %>
				<li><%= todos[i].item %></li>
			<% } %>
		</ul>
	</div>

</body>
</html>